---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import FrequentlyAskedQuestions from "../components/FrequentlyAskedQuestions.astro";
import { Image } from "astro:assets";
---

<BaseLayout
  title="FAQ | Bingham Dentistry"
  description="Frequently asked questions at Bingham Dentistry. Located in Davis, California."
>
  <NavBar />

  <div class="hero-wrapper">
    <div class="description-wrapper">
      <div class="description-rect">
        <h2 class="top-level-description-title">Frequently asked questions</h2>
        <p class="top-level-description-explanation">
          Here are some answers to the most commonly asked questions. If you
          don't see your question here, please feel free to contact us.
        </p>
      </div>
    </div>
    <div class="hero-photo-wrapper">
      <div class="hero-photo-rect">
        <Image
          class="elizabeth-hero-photo"
          src="/images/faq/front-desk-bingham-dentistry-faq.jpg"
          alt="FAQ Secretary at Desk"
          width={360}
          height={360}
        />
      </div>
    </div>
  </div>

  <div class="beyond-dental-section">
    <div class="beyond-dental-container">
      <h2 class="top-level-description-title-beyond-dental">Common questions</h2>
      <div class="faq-container">
        <FrequentlyAskedQuestions />
      </div>
    </div>
  </div>

  <Footer />
</BaseLayout>
