---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar";
import Footer from "../components/Footer";
import { Image } from "astro:assets";
---

<BaseLayout
  title="Bingham Dentistry"
  description="Family and esthetic dentists located in Davis, California."
>
  <NavBar client:load />

  <div class="hero-wrapper">
    <div class="description-wrapper">
      <div class="description-rect">
        <h2 class="top-level-description-title">
          Family and Esthetic Dentistry
        </h2>
        <p class="top-level-description-explanation">
          A healthy mouth is vital to preserving your general well-being.
          Together, we can attain the goal of a beautiful and healthy smile that
          everybody deserves.
        </p>
      </div>
    </div>
    <div class="hero-photo-wrapper">
      <div class="hero-photo-rect">
        <Image
          class="elizabeth-hero-photo"
          src="/images/home-page/bingham-perry.jpg"
          alt="Bingham & Perry Duo Portrait"
          width={360}
          height={360}
          loading="eager"
        />
      </div>
    </div>
  </div>

  <div class="beyond-dental-section">
    <div class="beyond-dental-container">
      <h2 class="top-level-description-title-beyond-dental">
        Complete Dental Care Goes Beyond the Teeth, Gums and Mouth.
      </h2>
      <div class="beyond-dental-card-container">
        <div class="beyond-dental-card">
          <h3 class="beyond-dental-card-title">Latest Technology</h3>
          <p class="beyond-dental-card-description">
            We use digital x-rays, laser therapy, and intraoral cameras, as well
            as other cutting-edge technology to help you make the best decisions
            for your health.
          </p>
        </div>
        <div class="beyond-dental-card">
          <h3 class="beyond-dental-card-title">Flexible Appointments</h3>
          <p class="beyond-dental-card-description">
            Let one of our scheduling experts know what we can help you with.
            We'll work together to get you in to see us when it works for you.
          </p>
        </div>
        <div class="beyond-dental-card">
          <h3 class="beyond-dental-card-title">Insurance Made Easy</h3>
          <p class="beyond-dental-card-description">
            Insurance can be complicated. We make it simple. We can answer any
            questions you have about insurance and payments.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-wrapper">
    <div class="description-wrapper">
      <div class="description-rect">
        <h2 class="top-level-description-title">Questions?</h2>
        <p class="top-level-description-explanation">
          We are committed to helping you understand your oral health as best as
          possible. Dentistry can be confusing or anxiety-inducing for a lot of
          us! Some of our most commonly asked questions are answered for you
          below. Can’t find an answer to your question? Please contact us at
          530-758-4900, and we’ll be happy to help you out.
        </p>
      </div>
    </div>
    <div class="hero-photo-wrapper">
      <div class="hero-photo-rect">
        <Image
          class="elizabeth-hero-photo"
          src="/images/questions/dental-work-cleaning-bingham-dentistry-in-davis.jpg"
          alt="Dental hygienist in face mask"
          width={360}
          height={360}
        />
      </div>
    </div>
  </div>

  <Footer client:load />
</BaseLayout>
